[DEFAULT]
# The backup driver to use
backup_driver = cinder.backup.drivers.s3.S3BackupDriver

# Specific S3 settings for SeaweedFS
backup_s3_endpoint_url = http://node-01.lan:8333
backup_s3_store_access_key = {{ seaweed_s3_access_key }}
backup_s3_store_secret_key = {{ seaweed_s3_secret_key }}
backup_s3_store_bucket = cinder-backups
backup_s3_enable_autocreate_bucket = True
backup_s3_no_verify_ssl = True

# Performance tuning for SeaweedFS (optional)
backup_s3_request_timeout = 60
backup_s3_max_pool_connections = 100